.quote{
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    max-width: 690px;
    margin: 250px auto 150px;
    text-align: center;
    padding: 0 10px;
    position: relative;
}
.quote:before {
    content: "”";
    position: absolute;
    top: 46px;
    left: -30px;
    -webkit-text-stroke: 2px #255D38;
    color: transparent;
    font-family: "Pacifico", sans-serif;
    font-size: 200px;
    font-style: normal;
    line-height: 0;
}
.quote:after {
    content: "”";
    position: absolute;
    bottom: -60px;
    right: -30px;
    -webkit-text-stroke: 2px #255D38;
    color: transparent;
    font-family: "Pacifico", sans-serif;
    font-size: 200px;
    font-style: normal;
    line-height: 0;
}

.orange-farm{
    padding: 0 80px;

}
.orange-farm .bg-1{
    background: url(/luicey/orange-farm.jpg) no-repeat center center fixed;
    background-size: cover;
    max-width: 1600px;
    min-height: 513px;
    margin: 0 auto;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.orange-farm .bg-2{
    background: url(/luicey/orange-farm2.jpg) no-repeat center center fixed;
    background-size: cover;
    max-width: 1600px;
    min-height: 513px;
    margin: 0 auto;
    display: flex;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 100px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 65%);
}
.orange-farm .bg-1:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 65%);
    z-index: 1;
}
.orange-farm > div > div > div {
    max-width: 1200px;
    margin: auto auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    z-index: 3;
}
.orange-farm > div > div > div > div{
    width: 31%;
    min-width: 250px;
    color: #EFEBE2;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 0 15px;
    padding: 0 0 0 60px;
    box-sizing: border-box;

}
.orange-farm h3{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 10px;
    position: relative;
}
.orange-farm h3:before{
    content: url("/luicey/four-column.svg");
    position: absolute;
    top: 6px;
    left: -27px;
    width: 18px;
    height: 22px;
}
.orange-farm p{
    font-size: 14px;
    font-weight: 200;
    margin: 0;
}

.team{
    padding: 40px 10px;
}
.team > div{
    max-width: 1200px;
    margin: 0 auto;
}
.team h3{
    font-family: "Pacifico", sans-serif;
    font-size: 70px;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center;
}
.team p{
    font-size: 28px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
    margin: 0 0 70px;
}
.team > div > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.team .member{
    width: 31%;
    aspect-ratio: 350/638;
    margin: 0 0 50px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: 500ms ease-in-out;
}
.team .member.visible{
    opacity: 1;
    transform: translateY(0);
}
.team .member .profile{
    display: block;
    margin: 0 auto;
    width: 100%;
}
.team .info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #EFEBE2;
    background: rgba(0, 0, 0, 0.3);
    margin: -130px auto 0;
    position: relative;
    width: 85%;
    border-radius: 50px;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
}
.team .info .mini-profile{
    display: block;
    margin: 0;
    width: 60px;
    border-radius: 50%;
}
.team .info h4{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 5px;
}
.team .info p{
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    opacity: 0.75;
    text-align: left;
}

@media (max-width:500px) {
    .quote {
        font-size: 20px;
        margin: 250px 40px 150px;
    }
    .quote:before {
        top: 46px;
        left: -50px;
        font-size: 150px;
    }
    .quote:after {
        bottom: -60px;
        right: -20px;
        font-size: 150px;
    }
    .orange-farm {
        padding: 0 20px;
    }
    .orange-farm .bg-1 {
        background: url(/luicey/orange-farm.jpg) no-repeat 82%;
        border-radius: 80px;
    }
    .orange-farm .bg-2{
        background: url(/luicey/orange-farm2.jpg) no-repeat 82%;
        border-radius: 80px;
        padding: 100px 10px 40px;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 0) 100%);
    }
    .orange-farm > div > div > div > div {
        width: 80%;
    }
    .team .member {
        width: 100%;
    }
}
