.contact{
    padding: 250px 10px 0;
}
.contact h1{
    font-family: 'Pacifico', cursive;
    font-size: clamp(60px, 10vw, 96px);
    font-weight: 400;
    margin: 0 0 50px;
    text-align: center;
    opacity: 0;
    transform: translateY(100px);
    transition: 500ms ease-in-out;
}
.contact h1.visible{
    opacity: 1;
    transform: translateY(0);
}
.contact > div{
    max-width: 1200px;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact > div > div{
    width: 31%;
    min-width: 310px;
    border-left: 1px solid rgba(37, 93, 56, 0.25);
    margin: 0 0 50px;
    padding: 0 0 0 60px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateY(100px);
    transition: 500ms ease-in-out;
}
.contact > div > div.visible{
    opacity: 1;
    transform: translateY(0);
}
.contact h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px;
    position: relative;
}

.contact > div > div:nth-child(1) h3:before{
    content: url("/luicey/phone.svg");
}
.contact > div > div:nth-child(2) h3:before{
    content: url("/luicey/location.svg");
}
.contact > div > div:nth-child(3) h3:before{
    content: url("/luicey/email.svg");
}
.contact h3:before{
    position: absolute;
    top: 1px;
    left: -27px;
    width: 19px;
    height: 22px;
}
.contact p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
.contact p:nth-child(2){
    margin: 0 0 30px;
}
#form{
    padding: 0 10px 150px;
    box-sizing: border-box;
}

#form > div{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#form > div > div{
    width: 50%;
    margin: 0 0 50px;
    border-radius: 40px;
    border: 1px solid;
    box-shadow: -2px 3px 0;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    transition: 500ms ease-in-out;
}
#form > div > div.visible{
    opacity: 1;
    transform: translateY(0);
}
#form iframe {
    width: 100%;
    aspect-ratio: 600/450;
    display: block;
    border: 0;
    filter: saturate(0.3) hue-rotate(133deg);
}
#form form{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateY(100px);
    transition: 500ms ease-in-out;
}
#form form.visible{
    opacity: 1;
    transform: translateY(0);
}
#form input,
#form textarea{
    font-family: 'Montserrat', sans-serif;
    width: 49%;
    margin: 0 0 2%;
    background: #F7F5E8;
    padding: 24px 20px 24px 40px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    color: #255D38;
    text-decoration: none;
    border: 1px solid;
    box-shadow: -2px 3px 0;
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);

}
#form textarea{
    width: 100%;
    height: 180px;
}
#form input::placeholder,
#form textarea::placeholder{
    color: rgba(37, 93, 56, 0.25);
}
#form input:focus,
#form textarea:focus{
    outline: none;
    transform: translate(3px, -3px);
    box-shadow: -5px 6px 0;
}
#form button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    background: #F7F5E8;
    margin: 0 0 0 auto;
    padding: 4px 4px 4px 40px;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 700;
    border-radius: 50px;
    color: #255D38;
    text-decoration: none;
    border: 1px solid;
    box-shadow: -2px 3px 0;
    cursor: pointer;
    transition: 300ms cubic-bezier(0.7, -0.04, 0.24, 2.25);
}
#form button img{
    transition: 300ms cubic-bezier(0.7, -0.04, 0.24, 2.25);
}
#form button:hover{
    transform: translate(3px, -3px);
    box-shadow: -5px 6px 0;
}
#form button:hover img{
    transform: rotate(45deg) !important;
}

@media (max-width: 500px){
#form > div > div{
    width: 100%;
}
#form form{
    width: 100%;
}
}